/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.dive-line {
  border-inline: 3px solid #ccc;
  padding: 0.5em;
  margin: 1em 0;
  border-radius: 0.5em;
}

.dive-summary {
  display: flex;
  user-select: none;
  align-items: center;
  transition: background 300ms;
  gap: 1.5%;
}

.dive-summary--isShown {
  position: sticky;
  top: 0;
}

.dive-summary:hover,
.dive-details:hover {
  background: #444;
}

.dive-details {
  font-size: 0.8em;
}

canvas {
  max-height: 20rem;
}

.share-dive {
  margin-left: auto;
}

@media (prefers-color-scheme: light) {
  .dive-summary:hover,
  .dive-details:hover {
    background: #eee;
  }
}
