/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.share-dive-container {
  display: flex;
}

.share-dive-button {
  white-space: nowrap;
}

.copied-message {
  visibility: hidden;
  display: flex;
  align-items: center;
  margin: 0 1em;
}

.copied-message-displayed {
  visibility: unset;
  animation: 0.2s ease 1 both copied-message-showing;
}

@keyframes copied-message-showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
